<!--Comment-->
<div class="max-w-3xl p-6 border rounded-lg shadow bg-gray-100">
  <h3 class="tracking-tight text-gray-400">
    {{created_at}}
    by
    {{comment_username}}
  </h3>
  <p class="mb-3 font-normal text-gray-900">
    {{content}}
  </p>
</div>